@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section class="next-train">
    <div class="container">
        <h2 class="nt-title">Next train</h2>
        <div class="nt-box">
            <div class="nt-box-info">
                <p class="nt-box-teacher">tEACHER: NAME SURNAME</p>
                <p class="nt-box-loc">lOCATION: LONDON</p>
                <a href="#" class="nt-box-btn">Join</a>
            </div>
            <div class="nt-box-img">
                <img src="~/img/track.png" alt="track">
            </div>
        </div>
    </div>
</section>
<section class="schedule">
    <div class="container">
        <div class="schedule__img">
            <img src="~/img/schedule.jpg" alt="Schedule" />
        </div>
    </div>
</section>
