@model web_racing_kp.Models.UserTable

@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->


<section class="profile-info">
    <div class="container">
        <div class="profile-img">
            <img src="~/img/profile-pic.png" alt="">
        </div>
        <div class="main-info">

            <p class="name active">Name: <b>SEBASTIAN</b></p>
            <p class="name">
                @Html.DisplayNameFor(model => model.Name)
            </p>
            <p class="name">
                @Html.DisplayFor(model => model.Name)
            </p>
            <p class="surname">Surname: <b>VETTEL</b></p>
            <p class="age">Age: <b>20</b></p>
            <p class="team">Team: <b>Aston Martin</b></p>
            <p class="wheels">Wheels: <b>Formula-1</b></p>
        </div>
        <div class="car-info">
            <h3 class="car-title">car</h3>
            <img src="~/img/car2.jpg" alt="car">
        </div>
    </div>
</section>
<section class="next-train">
    <div class="container">
        <h2 class="nt-title">Next train</h2>
        <div class="nt-box">
            <div class="nt-box-info">
                <p class="nt-box-teacher">tEACHER: NAME SURNAME</p>
                <p class="nt-box-loc">lOCATION: LONDON</p>
                <a href="#" class="nt-box-btn">Join</a>
            </div>
            <div class="nt-box-img">
                <img src="~/img/track.png" alt="track">
            </div>
        </div>
    </div>
</section>